.mapSelected {
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-filter: brightness(1) !important;
    filter: brightness(1) !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.mapSelected:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.shake {
    -webkit-animation: shake .1s 2;
    animation: shake .1s 2;
}

@-webkit-keyframes shake {
    0% {
        margin-left: -3px;
    }

    50% {
        margin-left: 3px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes shake {
    0% {
        margin-left: -3px;
    }

    50% {
        margin-left: 3px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes reload {
    to {
        width: 80px;
    }
}

@keyframes reload {
    to {
        width: 80px;
    }
}

@-webkit-keyframes error {
    0% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
}

@keyframes error {
    0% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
}

@-webkit-keyframes permissionIn {
    from {
        -webkit-transform: translate3d(-50%, 20%, 0);
        transform: translate3d(-50%, 20%, 0);
        opacity: 0;
    }
}

@keyframes permissionIn {
    from {
        -webkit-transform: translate3d(-50%, 20%, 0);
        transform: translate3d(-50%, 20%, 0);
        opacity: 0;
    }
}

@-webkit-keyframes permissionOutYES {
    0% {}

    10% {
        -webkit-transform: translate3d(-50%, -55%, 0);
        transform: translate3d(-50%, -55%, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
        opacity: 1;
    }
}

@keyframes permissionOutYES {
    0% {}

    10% {
        -webkit-transform: translate3d(-50%, -55%, 0);
        transform: translate3d(-50%, -55%, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
        opacity: 1;
    }
}

@-webkit-keyframes permissionOutNO {
    to {
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
}

@keyframes permissionOutNO {
    to {
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
}
