body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 62.5%;
}

a {
    color: white;
    text-decoration: none;
}

input {
    border: none;
}

.permission {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -30%, 0);
    opacity: 0;
    min-height: 400px;
    min-width: 700px;
    width: 50vw;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    color: #333;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.5;
    padding: 0px 10px;
    font-family: sans-serif;
    border-radius: 5px;
}

.permissionIn {
    animation: permissionIn .4s cubic-bezier(.09, .28, .67, .92);
    animation-fill-mode: forwards;
}

.permissionHeading {
    margin: 0;
    color: white;
    font-size: 2em;
}

.permissionText {
    color: white;
    font-size: 1em;
}

.permissionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.permissionMore {
    font-size: .5em;
    color: #efefef;
    max-width: 80%;
    margin: 0 0 20px 0;
}

.permissionAnswer {
    margin: 0 20px;
    color: #efefef;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #efefef;
    transition: background .2s ease-in, color .2s ease-in;
}

.permissionAnswer:hover {
    background: #efefef;
    color: #151515;
    transition: background .2s ease-out, color .2s ease-out;
}

.introFilter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
}

.noSelect {
    cursor: default;
    user-select: none;
}
