.outcome {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1f1f22;
    background-image: url('/assets/img/SVG/pattern.svg');
    background-position: center;
    background-size: 5%;
    z-index: 999;
}

.outcome__main {
    margin: 40px auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 8em;
}

.facts__wrapper {
    width: 80%;
    margin: auto;
    height: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.facts {
    float: left;
    width: 100%;
    height: 200px;
    margin: auto;
    flex-basis: 45%;
    font-family: sans-serif;
    color: white;
}

.fact__title {
    font-weight: 400;
    font-size: 5em;
    margin: 5px auto;
}

.number {
    font-size: 10em;
    margin: 5px auto;
    color: #31a04a;
}

.number span {
    font-size: .25em;
    color: white;
    margin-left: 30px;
}

.explain {
    font-size: 1.6em;
}

.fatalityRate {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-self: flex-start;
}

.fatalityRate h2 {
    font-size: 3em;
    margin: auto;
    text-align: center;
    font-weight: 400;
}

.fatality {
    width: 100%;
    height: 50%;
}

.fatality__skull {
    float: left;
    width: 20px;
    animation: zoom-in .3s ease-out;
}

.multiplier {
    float: left;
    font-size: 2em;
    color: white;
    margin: 0 0 0 20px;
}

.change {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    height: 200px;
    color: white;
    font-size: 3em;
}

.changeElements {
    margin: auto;
    width: 400px;
    text-align: center;
    font-family: sans-serif;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.changeElements img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.changeElements:hover {
    transform: scale3d(1.02, 1.02, 1) translate3d(0, -5px, 0);
    transition: transform .2s ease-in-out;
}

@keyframes zoom-in {
    0% {
        transform: scale3d(5, 5, 1);
        opacity: .5;
    }

    80% {
        transform: scale3d(.6, .6, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.contact {
    position: absolute;
    right: 50px;
    width: 200px;
    height: 45px;
    background: #ce5409;
    cursor: pointer;
    overflow: hidden;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    transition: height .2s ease-in;
}

.contact:hover {
    height: 250px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transition: height .2s ease-out;
}

.contact:hover > .websiteLink {
    left: 50% !important;
    opacity: 1;
    transition: left .2s ease-out, opacity .2s ease-out;
}

.contact__connect {
    transition: left .2s ease-in, opacity .2s ease-in;
}

.contact:hover > .contact__connect {
    left: 0%;
    opacity: 0;
    transition: left .2s ease-out, opacity .2s ease-out;
}

.contact h3 {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.websiteLink {
    color: #1c2245;
    text-decoration: underline;
    left: 100% !important;
    opacity: 0;
    transition: left .2s ease-in, opacity .2s ease-in;
}

.contact img {
    widtH: 150px;
    margin: 80px 25px 20px 25px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
