.side {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
}

.side__covers {
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.side__covers-img {
    position: absolute;
    top: 50vh;
    -webkit-transition: .2s transform ease-in, -webkit-filter .2s ease-in;
    transition: .2s transform ease-in, -webkit-filter .2s ease-in;
    transition: .2s transform ease-in, filter .2s ease-in;
    transition: .2s transform ease-in, filter .2s ease-in, -webkit-filter .2s ease-in;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.man__cover-img {
    height: 100vh;
    width: auto;
    left: 50vw;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.water__cover-img {
    height: 100vh;
    width: auto;
    right: 50vw;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.man:hover .man__cover-img {
    -webkit-transform: translate(-100%, -50%) scale3d(1.01, 1.01, 1);
    transform: translate(-100%, -50%) scale3d(1.01, 1.01, 1);
    -webkit-transition: .2s transform ease-out, -webkit-filter .2s ease-out;
    transition: .2s transform ease-out, -webkit-filter .2s ease-out;
    transition: .2s transform ease-out, filter .2s ease-out;
    transition: .2s transform ease-out, filter .2s ease-out, -webkit-filter .2s ease-out;
    cursor: pointer;
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.water:hover .water__cover-img {
    -webkit-transform: translate(100%, -50%) scale3d(1.01, 1.01, 1);
    transform: translate(100%, -50%) scale3d(1.01, 1.01, 1);
    -webkit-transition: .2s transform ease-out, -webkit-filter .2s ease-out;
    transition: .2s transform ease-out, -webkit-filter .2s ease-out;
    transition: .2s transform ease-out, filter .2s ease-out;
    transition: .2s transform ease-out, filter .2s ease-out, -webkit-filter .2s ease-out;
    cursor: pointer;
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.cover__players {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 50vh;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.water__player {
    right: 10vw;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.man__player {
    left: 10vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vs {
    position: absolute;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.side__text {
    position: absolute;
    bottom: 2vh;
    z-index: 10;
    color: white;
    font-size: 4em;
    background: black;
    padding: 10px 30px;
    mix-blend-mode: overlay;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.man__text {
    left: 10vw;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0);
}

.water__text {
    right: 10vw;
    -webkit-transform: translate(50%, 0%);
    transform: translate(50%, 0);
}

.choose {
    position: absolute;
    left: 50vw;
    top: 15vh;
    width: 100vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
    text-align: center;
    font-family: sans-serif;
    cursor: default;
}

.deSelectSide .man__cover {
    -webkit-transform: translate3d(-100%, -50%, 0) !important;
    transform: translate3d(-100%, -50%, 0) !important;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.deSelectSide .water__cover {
    -webkit-transform: translate3d(100%, -50%, 0) !important;
    transform: translate3d(100%, -50%, 0) !important;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.selectSide .man__cover-img {
    -webkit-transform: translate3d(-140%, -50%, 0) !important;
    transform: translate3d(-140%, -50%, 0) !important;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
    -webkit-filter: brightness(1) !important;
    filter: brightness(1) !important;
}

.selectSide .water__cover-img {
    -webkit-transform: translate3d(140%, -50%, 0) !important;
    transform: translate3d(140%, -50%, 0) !important;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
    -webkit-filter: brightness(1) !important;
    filter: brightness(1) !important;
}

.decisionMade .side__text {
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.decisionMade .man__text {
    -webkit-transform: translate3d(-50%, 20vh, 0);
    transform: translate3d(-50%, 20vh, 0);
}

.decisionMade .water__text {
    -webkit-transform: translate3d(50%, 20vh, 0);
    transform: translate3d(50%, 20vh, 0);
}

.decisionMade .choose {
    -webkit-transform: translate3d(-50%, -30vh, 0);
    transform: translate3d(-50%, -30vh, 0);
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.decisionMade .vs {
    opacity: 0;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
